# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.manifest
*.spec

# Virtual environments
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# ProBioPred output
ProBioPred_out/
